<div class="menu-container">
    <div class="imagemapmenu-overlay"></div>
	<div class='menu-container-inner box-menu-inner clearfix'>
		<div class="imagemapmenu-container">
			<div class="imagemapmenu-container-inner">
                <img class="imagemapmenu-container-image" src="adapt/css/assets/menu-map.jpg" alt="Image Map background" />
				<div class="imagemapmenu-items clearfix">
					
				</div>
			</div>
		</div>
	</div>
</div>